// Bootstrap
$enable-rounded: false;

// Colors
$ppd-color-buntin: #161d50;
$ppd-color-catskill: #ebf2f5;
$ppd-color-botticelli: #c8d9e0;
$ppd-color-suit: #b9bbca;
$ppd-color-mystic: #dae6eb;
$ppd-color-hibiscus: #c73e5b;
$ppd-color-ronchi: #e7c642;
$ppd-color-turquoise: #28cfb7;
$ppd-color-turkish-rose: #bf6c84;
$ppd-color-bizarre: #f2e1e6;
$ppd-color-forest: #569673;

//Box Shadows
$ppd-shadow: 0 1px 15px 1px rgba($ppd-color-buntin, 0.07);
$ppd-shadow-active: 0 14px 24px rgba($ppd-color-buntin, 0.2);
$ppd-steps-color-inactive: #b9bbc8;

//Gradients
$ppd-gradient: linear-gradient(45deg, $ppd-color-buntin, $ppd-color-turquoise);

a {
  color: $ppd-color-buntin !important;
  text-decoration: underline !important;
}
