svg text {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  fill: #797984;
}

/* Lines */
.monthly-line {
  fill: none;
  stroke-width: 3px;
  stroke: #d0e2f0;
}

.capital-line {
  fill: none;
  stroke-width: 3px;
  stroke: #48a6de;
}

/* Axes */
.axis .domain {
  display: none;
}

.axis .tick {
  pointer-events: none;
}

.monthly-axis text {
  fill: #d7d7d9;
  font-weight: normal;
}

.capital-axis text {
  fill: #d7d7d9;
  font-weight: normal;
}

/* Labels */
.age-label {
  fill: #48a6de;
}

/* Focus */
.focus-line {
  stroke-width: 2px;
  stroke: #48a6de;
}

.focus-circle {
  r: 6;
  stroke-width: 3px;
  stroke: #48a6de;
  fill: #fff;
}

/* Slider */
.slider-circle-text {
  fill: #48a6de;
}

.slider-circle {
  fill: #fff;
}

.slider-track {
  fill: #f0f3f9;
}

.slider-arrow {
  fill: #48a6de;
}
