// report page
.report {
    .title-top_section{
        border-bottom: 7px solid #f8f8f8;
    }
    .tool_txt{
        display: flex;
        align-items: center;
    }
    .title_section{
        font-size: 3.5rem;
    }

    .counting_section {
        padding: 6.5rem 0 0;
        .diagram {
            svg {
                max-width: 100%;
            }
        }
        .subtitle_section {
            max-width: 900px;
            margin: 100px auto 64px;
            @include media-breakpoint-down(md) {
                margin: 50px auto;
            }
        }
        .diagram{
            @include media-breakpoint-down(lg) {
                margin: auto;
                text-align: center;
            }
            .txt{
                margin: auto;
            }
        }
        .right_part {
            max-width: 310px;
            @include media-breakpoint-down(lg) {
                max-width: 100%;
                display: flex;
                justify-content: space-around;
                margin: 4rem 0 0;
            }

            @include media-breakpoint-down(xs) {
                flex-direction: column;
                align-items: center;
            }
        }
        .col_list{
            &:nth-child(2){
                border-bottom: 2px dotted #48a6de;
                margin: 0;
                padding-bottom: 1.3rem;
                margin-bottom: 3.5rem;
                @include media-breakpoint-down(lg) {
                    border: none;
                }
            }
        }
    }
    .col_list{
        list-style: none;
        padding: 0;
        margin-bottom: 6rem;
    }
    .col_description{
        margin-bottom: 0;
        li{
            margin: 0 0 4rem;
            line-height: 1;
        }
        .title_count{
            margin-bottom: 20px;
        }
    }
    .count {
        color: #48a6de;
        font-size: 3.5rem;
        margin: 12rem 0 15.8rem;
        @include media-breakpoint-down(md) {
            margin: 4rem 0;
        }
        .day {
            font-size: 2rem;
            margin: 0 0 0 1.5rem;
        }
    }
    .title_count {
        font-size: 2rem;
        color: #4a4a4a;
        font-weight: 700;
        // margin: 2rem 0 0;
        display: flex;
        align-items: center;
    }
    .txt{
        max-width: 500px;
        margin: 10px 0 0;
        font-size: 1.85rem;
    }
    .custom_tooltip{
        position: relative;
        margin-left: 15px;
        background-color: #b9406b;
        top: 0;
        right: 0;
    }

    .further_information{
        .title_section{
            margin: 91px 0 130px;
            @include media-breakpoint-down(md) {
                margin: 50px auto;
            }
        }
        .title_count {
            margin: 0;
        }
        .col_list{
            display: flex;
            align-items: flex-start;
            li{
                flex: 0 0 8%;
                &:nth-child(2){
                    flex: 0 0 30%;
                }
                &:last-child{
                    flex: 0 0 62%;
                }
            }
            @include media-breakpoint-down(md) {
                flex-direction: column;
                align-items: center;
                text-align: center;
                max-width: 90%;
                margin: 0 auto 50px;
            }
        }
        .modal-toggle{
            @include media-breakpoint-down(lg) {
                justify-content: center;
            }
        }
        .col_list{
            @include media-breakpoint-up(md) {
                margin: 0 0 70px;
            }
        }
        .txt_information{
            font-size: 2rem;
            line-height: 2.5;
        }
    }

    .advantage_section{
        padding: 87px 0 160px;
        @include media-breakpoint-down(md) {
            padding: 50px 0;
        }
        .title_section{
            margin: 0 0 128px;
            @include media-breakpoint-down(md) {
                margin: 0 0 50px;
            }
        }
        .description_img{
            @include media-breakpoint-down(md) {
                text-align: center;
            }
        }
        .description {
            padding-left: 6rem;
            padding-top: 3.2rem;
            @include media-breakpoint-down(md) {
                text-align: center;
            }
        }
        .modal-toggle{
            @include media-breakpoint-down(lg) {
                justify-content: center;
            }
        }
        .txt_information{
            font-size: 2rem;
            margin: 0 0 65px;
            @include media-breakpoint-down(xs) {
                margin-bottom: 25px;
            }
            &:last-child{
                margin: 0;
            }
        }
        .col_list{
            margin-bottom: 0;
        }
        .subscribe_list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.85rem;
            font-weight: 700;
            max-width: 83%;
            margin: 178px auto 0 4%;
            @include media-breakpoint-down(md) {
                margin: 50px auto 0;
                flex-direction: column;
                justify-content: center;
            }
            a{
                color: #4a4a4a !important;
                font-size: 2rem;
            }
            img{
                margin-right: 10px;
                @include media-breakpoint-down(xs) {
                    display: block;
                    margin: auto;
                    padding-bottom: 10px;
                }
            }
            li{
                @include media-breakpoint-down(md) {
                    margin: 0 0 20px;
                }
                @include media-breakpoint-down(xs) {
                    text-align: center;
                }
            }
        }
    }
}
