<template>
	<require from="../../resources/elements/ppd-currency/ppd-currency"></require>
	<require from="../../resources/elements/ppd-pie/ppd-pie"></require>
	<require from="../../resources/elements/ppd-bar/ppd-bar"></require>
	<require from="../../resources/elements/ppd-lifeline/ppd-lifeline"></require>

	<style>
		.animated {
			visibility: hidden;
		}
	</style>
	<div style="position:fixed;top:0px;left:0px;width:0;height:0;" id="scrollzipPoint"></div>
	<div class="main report">
		<section class="title-top_section">
			<div class="container">
				<h1 class="title_page extra_bold">Der Rentenversteher</h1>
				<h2 class="subtitle_section extra_bold">Schluss mit Vorsorgechinesisch</h2>
			</div>
		</section>


		<section class="counting_section">
			<div class="container">
				<h2 class="title_section extra_bold">Deine Rente</h2>
				<h3 class="subtitle_section text_center">
					Wenn du mit
					<span class="blue extra_bold p-2"> ${selectedRetirementAge.age} </span> in Pension gehst, hast du vermutlich folgendes Altersguthaben
					angespart
				</h3>
				<div class="row">
					<div class="col-lg-12 col-xl-8 diagram animated jsbounceInLeft">
						<ppd-lifeline></ppd-lifeline>
						<p class="txt">
							Verschiebe den Regler, um die Auswirkungen deines Pensionierungsalters auf deine Rente zu sehen.
						</p>
					</div>
					<div class="col-lg-12 col-xl-4 right_part animated jsbounceInRight">
						<ul class="col_list">
							<li class="title_count">Altersguthaben</li>

							<li class="count m-0">
								<ppd-currency value.bind="selectedRetirementAge.capital"></ppd-currency>
							</li>

						</ul>
						<ul class="col_list">
							<li class="title_count">Rente Total</li>
							<li class="count m-0">
								<ppd-currency value.bind="selectedRetirementAge.monthly"></ppd-currency>
							</li>
						</ul>

						<ul class="col_list col_description">
							<li>
								<span class="title_count">Staatliche Vorsorge (1. Säule)</span>
								<span class="title_count blue m-0">2’190 Fr. / Monat</span>
							</li>
							<li>
								<span class="title_count">Berufliche Vorsorge (2. Säule)</span>
								<span class="title_count blue m-0">2’159 Fr. / Monat</span>
							</li>
							<li>
								<span class="title_count">Private Vorsorge (3. Säule)</span>
								<span class="title_count pink m-0 p-0 modal-toggle">
									Nicht erfasst

									<div class="wrapper">
										<span class="tool_ico custom_tooltip">i</span>
									</div>

									<div class="modal">
										<div class="modal-overlay"></div>
										<div class="modal-wrapper modal-transition">
											<div class="modal-header">
												<span class="modal-close modal-toggle"><span class="icon_close"></span></span>
												<h2 class="modal-heading">Private Vorsorge (3. Säule)</h2>
											</div>
											<div class="modal-body">
												<p>
													Das 3-Säulen-System sieht vor, dass die Zahlungen aus den ersten beiden Säulen – der staatlichen und der beruflichen Vorsorge – etwa 60 Prozent des letzten Lohnes abdecken.
												</p>
												<p>
													Falls du private Vorsorge in der 3. Säule betreibst, kannst du diese hier erfassen, um deine Rente noch genauer zu berechnen.
												</p>
												<a href="" class="blue extra_bold">Jetzt private Vorsorge hinzufügen</a>
											</div>
										</div>
									</div>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section class="further_information">
			<div class="container">
				<h2 class="title_section gold extra_bold">Weitere Informationen</h2>
				<div class="row">
					<div class="col-12">
						<ul class="col_list">
							<li class="title_count">
								<img src="src/assets/img/piggy.png">
							</li>
							<li>
								<ul class="list-unstyled">
									<li class="title_count">Angespartes</li>
									<li class="count m-0">
										<ppd-currency value.bind="selectedRetirementAge.capital"></ppd-currency>
									</li>
								</ul>
							</li>
							<li class="txt_information">
								Zurzeit hast du <span class="blue extra_bold">23’658 Fr.</span> angespart, welche du für ein Eigenheim, zum Start der Selbstständigkeit oder zum Auswandern beziehen kannst.
							</li>
						</ul>
						<ul class="col_list">
							<li>
								<img src="src/assets/img/apple_watch.png">
							</li>
							<li>
								<ul class="list-unstyled">
									<li class="title_count">Zeit bis zur Rente</li>
									<li class="count m-0">
										<ppd-currency value.bind="selectedRetirementAge.monthly"></ppd-currency>
									</li>
								</ul>
							</li>
							<li class="txt_information">
								Du bist noch <span class="blue extra_bold">34 Jahre</span> von deiner Pensionierung entfernt
							</li>
						</ul>
						<ul class="col_list">
							<li>
								<img src="src/assets/img/umbrella.png">
							</li>
							<li>
								<ul class="list-unstyled">
									<li class="title_count">Versicherter Lohn</li>
									<li class="count m-0">
										<ppd-currency value.bind="selectedRetirementAge.monthly"></ppd-currency>
									</li>
								</ul>
							</li>
							<li class="txt_information">
								Es ist nicht dein gesamter Lohn versichert: Dein gemeldeter Lohn beträgt <span class="blue extra_bold">105'000 Fr.</span>, dein versicherter Lohn ist aber nur 
								<div class="pink extra_bold p-0 modal-toggle"> 
									59'928 Fr.
									<!-- popup -->
									<div class="wrapper">
										<span class="tool_ico custom_tooltip">i</span>
									</div>

									<div class="modal">
										<div class="modal-overlay"></div>
										<div class="modal-wrapper modal-transition">
											<div class="modal-header">
												<span class="modal-close modal-toggle"><span class="icon_close"></span></span>
												<h2 class="modal-heading">Gemeldeter AHV-Lohn</h2>
											</div>
											<div class="modal-body">
												<p>
													Der von deinem Arbeitgeber gemeldete AHV-Jahreslohn sollte deinem effektiven Jahreslohn (Bruttolohn gemäss Lohnausweis) entsprechen. Den versicherten Jahreslohn berechnet die PK, indem sie vom gemeldeten AHV-Jahreslohn den BVG-Koordinationsbetrag (derzeit Fr. 24 720.-) abzieht. Der Abzug kann tiefer ausfallen, wenn deine PK über die gesetzlichen Minimalleistungen hinausgeht. Er kann aber auch höher sein, falls dein effektiver Jahreslohn über der BVG-Höchstlohngrenze von Fr. 74 160.- liegt. Alle Leistungsberechnungen gehen vom versicherten Jahreslohn aus.
												</p>
												<p class="pink">
													Es lohnt sich jedes Jahr zu überprüfen, ob der im Vorsorge-ausweis aufgeführte AHV-Jahreslohn deinem effektiven Jahreslohn übereinstimmt. 
												</p>
												<p>
													Bei Abweichungen läufst du Gefahr, dass deine Alter-, Todesfall- und Invalidenleistungen zu tief ausfallen und Vorsorgelücken entstehen.
												</p>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<ul class="col_list">
							<li>
								<img src="src/assets/img/month_view.png">
							</li>
							<li>
								<ul class="list-unstyled">
									<li class="title_count">Monatliche Beiträge</li>
									<li class="count m-0">
										<ppd-currency value.bind="selectedRetirementAge.monthly"></ppd-currency>
									</li>
								</ul>
							</li>
							<li class="txt_information">
								Monatlich wird <span class="blue extra_bold">601 Fr.</span> in deine Pensionskasse einbezahlt. <span class="blue extra_bold">501 Fr.</span> gehen in dein Altersguthaben (Sparbeitrag) und <span class="blue extra_bold">100 Fr.</span> gehen in deine Versicherung (Risikobeitrag). 
								<span class="pink extra_bold modal-toggle">
									Was bedeutet das?
									<!-- popup -->
									<div class="wrapper">
										<span class="tool_ico custom_tooltip">i</span>
									</div>

									<div class="modal">
										<div class="modal-overlay"></div>
										<div class="modal-wrapper modal-transition">
											<div class="modal-header">
												<span class="modal-close modal-toggle"><span class="icon_close"></span></span>
												<h2 class="modal-heading">Monatliche Beiträge</h2>
											</div>
											<div class="modal-body">
												<p>
													Ab dem 18. Lebensjahr zahlst du monatlich einen Risikobeitrag in die Pensionskasse ein – und versicherst so einen Lohnausfall bei Invalidität oder Tod (Risikoleistungen).
												</p>
												<p>
													Ab dem 25. Lebensjahr kommt ein Sparbeitrag dazu. Damit wird das persönliche Altersguthaben gebildet, aus dem du später die Alterspension beziehst. 
												</p>
												<p>
													Der gesamte Beitrag an die Pensionskasse umfasst – nach Alter abgestuft – ab Alter 25 monatlich zwischen 11% und 29% des versicherten Lohns.
												</p>
											</div>
										</div>
									</div>
								</span>
							</li>
						</ul>
						<ul class="col_list">
							<li>
								<img src="src/assets/img/split_bill.png">
							</li>
							<li>
								<ul class="list-unstyled">
									<li class="title_count">Dein Arbeitgeber bezahlt</li>
									<li class="count m-0">
										<ppd-currency value.bind="selectedRetirementAge.monthly"></ppd-currency>
									</li>
								</ul>
							</li>
							<li class="txt_information">
								Dein Arbeitgeber bezahlt <span class="blue extra_bold"> 60% </span> der monatlichen Beiträge und du <span class="blue extra_bold"> 40%.</span><br>
								<div class="pink extra_bold p-0 modal-toggle">
									Was bedeutet das?
									<div class="wrapper">
										<span class="tool_ico custom_tooltip">i</span>
									</div>

									<div class="modal">
										<div class="modal-overlay"></div>
										<div class="modal-wrapper modal-transition">
											<div class="modal-header">
												<span class="modal-close modal-toggle"><span class="icon_close"></span></span>
												<h2 class="modal-heading">Finanzierung der monatlichen Beiträge</h2>
											</div>
											<div class="modal-body">
												<p>
													Das BVG-Minimum sieht je hälftige PK-Beiträge für Arbeitgeber und Arbeitnehmer vor. Sie liegen zusammen je nach Alter des Versicherten zwischen 9 und 22 Prozent des Bruttolohns. 
												</p>
												<p class="extra_bold">
													Grosszügige Arbeitgeber übernehmen mehr als die Hälfte dieses Beitrags und finanzieren damit beispielsweise überobligatorische Leistungen zum grösseren Teil - oder sogar ganz.
												</p>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section class="advantage_section">
			<div class="container">
				<h2 class="title_section gold extra_bold">Was kannst du jetzt tun?</h2>
				<div class="row">
					<div class="col-md-12 col-lg-4 description_img animated jsbounceInLeft">
						<img src="src/assets/img/PPD_Car_Graphic.png" alt="" class="img-fluid">
					</div>
					<div class="col-md-12 col-lg-8 description animated jsbounceInRight">
						<ul class="col_list">
							<li class="txt_information">
								Herausfinden, ob alle PK- und AHV-Beiträge erfasst sind. 
								<div class="pink extra_bold tool_txt p-0 modal-toggle">
									Wie geht das?
									<!-- popup -->
									<div class="wrapper">
										<span class="tool_ico custom_tooltip">i</span>
									</div>

									<div class="modal">
										<div class="modal-overlay"></div>
										<div class="modal-wrapper modal-transition">
											<div class="modal-header">
												<span class="modal-close modal-toggle"><span class="icon_close"></span></span>
												<h2 class="modal-heading">Vollständigkeit deiner Beiträge</h2>
											</div>
											<div class="modal-body">
												<p>
													Wenn du beispielsweise deinen Job wechselst, liegt es in deiner Pflicht der Pensionskasse deinen neuen Arbeitgeber und deine neue Pensionskasse mitzuteilen, damit dein bestehendes Altersguthaben übertragen werden kann. Falls du dir nicht sicher bist, ob deine Pensionskassengelder vollständig übertragen worden sind, kannst du bei der Zentralstelle 2. Säule eine Recherche in Auftrag geben.
												</p>
												<a href="" class="blue extra_bold">Zentralstelle 2. Säule Website</a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="txt_information">
								Deine Pensionskassenbeiträge erhöhen.
								<div class="pink extra_bold tool_txt p-0 modal-toggle">
									Wie geht das?
									<!-- popup -->
									<div class="wrapper">
										<span class="tool_ico custom_tooltip">i</span>
									</div>

									<div class="modal">
										<div class="modal-overlay"></div>
										<div class="modal-wrapper modal-transition">
											<div class="modal-header">
												<span class="modal-close modal-toggle"><span class="icon_close"></span></span>
												<h2 class="modal-heading">Pensionskassenbeiträge erhöhen</h2>
											</div>
											<div class="modal-body">
												<p>
													Zusätzlich zu den gesetzlich vorgeschriebenen Mindestleistungen der beruflichen Vorsorge (2. Säule), hast du die Möglichkeit, überobligatorische Vorsorge in der 2.Säule zu betreiben. Eine überobligatorische Vorsorge kann beispielsweise in Form höherer Beiträge oder einmaliger Einkäufe für das Alterskapital oder die Invalidenrente geschehen. Die überobligatorische Vorsorge wird jedoch von jeder Pensionskasse unterschiedlich gehandhabt und muss im Einzelfall diskutiert werden. 
												</p>
												<p class="extra_bold">
													Als Ergänzung zur überobligatorischen Vorsorge, und um die Lücke zwischen Erwerbs- und Renteneinkommen zu schliessen, bietet sich die 3. Säule an. Gerne helfen wir dir die Möglichkeiten aufzuzeigen und zu verstehen.
												</p>
												<a href="" class="blue extra_bold">Jetzt Beratung anfordern</a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="txt_information">
								Deine Pensionskassenlücke schliessen und Steuern sparen.
								<div class="pink extra_bold tool_txt p-0 modal-toggle">
									Wie geht das?
									<!-- popup -->
									<div class="wrapper">
										<span class="tool_ico custom_tooltip">i</span>
									</div>

									<div class="modal">
										<div class="modal-overlay"></div>
										<div class="modal-wrapper modal-transition">
											<div class="modal-header">
												<span class="modal-close modal-toggle"><span class="icon_close"></span></span>
												<h2 class="modal-heading">Vorsorgelücke schliessen</h2>
											</div>
											<div class="modal-body">
												<p>
													Viele Arbeitnehmerinnen und Arbeitnehmer haben eine Vorsorgelücke in ihrer Pensionskasse (PK) - meist ohne es zu wissen. Solche Lücken entstehen durch längere Arbeitspausen oder einen höheren Lohn für den keine Nachzahlungen geleistet worden sind. Deine Vorsorgelücke kann dir deine Pensionskasse mitteilen. Diesen Betrag kannst du dann gesamthaft oder teilweise einzahlen, um deine Rente zu verbessern und Steuern zu sparen. Wird dieses Geld dann während der Pensionierung ausbezahlt wird es zu einem Bruchteil der normalen Einkommenssteuer versteuert. Gerne beraten wir dich diesbezüglich
												</p>
												<a href="" class="blue extra_bold">Jetzt Beratung anfordern</a>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<ul class="subscribe_list list-unstyled">
					<li>
						<a href="">
							<img class="img-fluid" alt="" src="src/assets/img/collaboration.png" alt="">
							Beratung anfordern
						</a>
					</li>
					<li>
						<a href="">
							<img class="img-fluid" alt="" src="src/assets/img/email.png" alt="">
							Diese Auswertung als Email versenden
						</a>
					</li>
				</ul>
			</div>
		</section>

        <footer class="main_footer section_bg">
            <div class="custom-container">
                <ul class="foot_list list-unstyled">
                    <li>
                        <a href="">Swiss Life Lab 2018</a>
                    </li>
                    <li>
                        <a href="">
                            <img class="img-fluid" alt="" src="src/assets/img/heart.png" alt="">
                            Rentenversteher weiterempfehlen
                        </a>
                    </li>
                </ul>
            </div>
        </footer>

	</div>

	<svg style="display:none">
		<symbol xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15"
		 height="15" viewBox="0 0 15 15">
			<defs>
				<path id="gvnda" d="M1246 131v2h6.59L1241 144.59l1.41 1.41 11.59-11.59V141h2v-10z" />
			</defs>
		</symbol>
	</svg>
</template>