html {
  font-size: 6.5px;
}
.main {
  overflow: hidden;
}
.blue {
  color: #48a6de !important;
  padding: .5rem;
}
.pink {
  color: #b9406b !important;
  padding: .5rem;
}
.bold {
  font-weight: 600;
}
.extra_bold {
  font-weight: 700;
}
.text_center {
  text-align: center;
}
.tool_ico{
    font-style: italic;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
a {
  text-decoration: none !important;
}
.title_page{
    font-size: 6rem;
    color: #ba8f57;
    margin-bottom: 13px;
    @include media-breakpoint-down(md) {
        font-size: 3.5rem;
    }
}
.gold{
   color: #ba8f57; 
}
.title_section{
    color: #ba8f57;
    font-size: 3rem;
    text-align: center;
}
.subtitle_section {
    font-size: 3.6rem;
    // color: #4a4a4a;
    text-align: center;
    font-weight: 500;
    line-height: 1.4;
    @include media-breakpoint-down(md) {
      font-size: 3rem;
    }
}
.section_bg {
    background-color: #f8f8f8;
}
.txt{
    font-size: 2rem;
}


// section 0 -- Title section
.title-top_section{
    text-align: center;
    .container{
        background-image: url('/src/assets/img/got_it_guy_ppd.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 50% 10px;
        padding: 180px 0 4.5rem;
        @include media-breakpoint-up(md) {
            padding: 200px 0 4.5rem;
            background-position: 0 100%;
        }
    }
    .subtitle_section{
        font-weight: 700;
    }
}

// style for homepage
.homepage{
    color: #4a4a4a;
    .download_section{
        padding: 63px 0 103px;
        @include media-breakpoint-down(sm) {
            padding: 50px 0;
        }
        .subtitle_section{
            position: relative;
            font-weight: 700;
            max-width: 560px;
            margin: auto;
            &.main_subtitle{
                line-height: 1.4;
                max-width: 875px;
                font-weight: 400;
            }
        }
        .upload_bg {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 105px auto 55px;
            background-color: #fff;
            border-radius: 50%;
            border: 3px solid #ba8f57;;
            padding: 35px 0px;
            max-width: 155px;
            cursor: pointer;
            transform: scale(1);
            transition: all 200ms ease-out;
            &:hover {
              transform: scale(1.1);
            }
            @include media-breakpoint-down(sm) {
                margin: 50px auto;
            }
        }
    }
    .txt{
        max-width: 560px;
        margin: 15px auto 0;
    }
    .clients_section {
        padding: 92px 15px 80px;
        @include media-breakpoint-down(sm) {
            padding: 50px 15px;
        }
        .subtitle_section{
            line-height: 1;
            margin-bottom: 125px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 50px;
            }
        }
        .clients_container {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            justify-content: center;
        }
    }
    .clients_container {
        @include media-breakpoint-down(sm) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .client_logos{
        display: flex;
        max-width: 600px;
        width: 100%;
        max-width: 1290px;
        flex-wrap: wrap;
        @include media-breakpoint-down(md) {
            justify-content: space-around;
        }
        img{
            max-width: 65%;
        }
    }
    .client_item {
        flex: 0 0 25%;
        max-width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-down(md) {
            flex: 0 0 40%;
            max-width: 40%;
            &:nth-child(-n + 2) {
                margin: 0 0 8rem;
            }
            img {
                max-width: 70%;
            }
        }
        @include media-breakpoint-down(xs) {
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0 0 4rem;
            &:nth-child(-n + 2) {
                margin: 0 0 4rem;
            }  
        }
    }
}

// tooltip
.custom_tooltip {
    // position: relative;
    position: absolute;
    background-color: #2d8eff;
    color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    // margin: 0 0 0 auto;
    cursor: pointer;
    top: -10px;
    right: 0;
    .tooltiptext {
        visibility: hidden;
        color: #fff;
        padding: 1.5rem;
        position: absolute;
        z-index: 1;
        bottom: 35px;
        left: -142px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 1.5rem;
        line-height: 1.5;
        width: 300px;
        border-radius: 1px 1px 1px 0;
        background-color: #485465;
        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: calc(50% - 15px);
            border-width: 12px 15px 0 15px;
            border-style: solid;
            border-color: #485465 transparent transparent transparent;
        }
    }
    &:hover {
        .tooltiptext {
            visibility: visible;
            opacity: 0.9;
        }
    }
}

// popup
.modal {
    position: absolute;
    z-index: 10000;
    top: auto;
    left: auto;
    visibility: hidden;
    width: 100%;
    height: 100%;
}
.modal.is-visible {
    visibility: visible;
    overflow: visible;
    display: block;
}
.modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    background: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}
.modal.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.modal-wrapper {
    position: fixed;
    z-index: 9999;
    top: 5%;
    left: calc(50% - 13.5em);
    width: 27em;
    background-color: #f0f3fa;
    color: #4a4a4a;
    font-size: 2rem;
    text-align: left;
    max-height: calc(90%);
    overflow-x: auto;
    max-width: 100%;
    line-height: 1.5;
    @include media-breakpoint-down(xs) {
        left: 0;
        width: 100%;
    }
    // box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}
.modal-transition {
    transition: all 0.3s 0.12s;
    transform: translateY(-10%);
    opacity: 0;
}
.modal.is-visible .modal-transition {
    transform: translateY(0);
    opacity: 1;
}
.modal-toggle{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.modal-header{
    border: 0;
    padding: 3.2rem 2.7rem 0;
}
.modal-heading{
    font-size: 2.15rem;
}
.modal-body{
    padding: 3rem 2.7rem;
    p{
        font-weight: 500;
        font-size: 1.6rem;
        margin: 0 0 3rem;
    }
    a{
        font-size: 1.5rem;
        padding: 0;
    }
}
.modal-close {
    top: 0;
    right: 0;
    border: 0;
    position: absolute;
    cursor: pointer;
}
.icon_close{
    width: 25px;
    height: 25px;
    position: relative;
    right: 10px;
    top: 20px;
    &:after, &:before{
        position: absolute;
        content: '';
        display: block;
        background-color: #2d8eff;
        width: 25px;
        height: 3px;
        top: 0;
        left: 0;
    }
    &:after{
        transform: rotate(45deg);
    }
    &:before{
        transform: rotate(-45deg);
    }
}




// footer
.main_footer {
    padding: 9.3rem 0;
    @include media-breakpoint-down(sm) {
        padding: 5rem 0;
    }
}
.foot_list {
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    color: #48a6de;
    font-weight: 700;
    max-width: 82%;
    margin: auto;
    &:first-child{
        font-weight: 400;
    }
    @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: center;
    }
    a {
        color: #4a4a4a !important;
        text-decoration: none !important;
        font-size: 1.85rem;
    }
    img{
        margin-right: 10px;
        @include media-breakpoint-down(xs) {
            max-width: 20px;
            margin-right: 5px;
        }
    }
}
.custom-container{
    max-width: 80%;
    margin: auto;
    @include media-breakpoint-down(lg) {
        max-width: 100%;
    }
}


@include media-breakpoint-up(xs) {
  html {
    font-size: 8px;
  }
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 9px;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 10px;
  }
}

@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.dropzone,
.dropzone * {
  box-sizing: border-box;
}
.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone.dz-clickable * {
  cursor: default;
}
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}
.dropzone.dz-started .dz-message {
  display: none;
}
.dropzone.dz-drag-hover {
  border-style: solid;
}
.dropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}
.dropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}
.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px;
}
.dropzone .dz-preview:hover {
  z-index: 1000;
}
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd);
}
.dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}
.dropzone .dz-preview.dz-image-preview {
  background: white;
}
.dropzone .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.dropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}
.dropzone .dz-preview .dz-remove:hover {
  text-decoration: underline;
}
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
.dropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}
.dropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px;
}
.dropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}
.dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}
.dropzone .dz-preview .dz-details .dz-filename span,
.dropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}
.dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}
.dropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}
.dropzone .dz-preview .dz-image img {
  display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}
.dropzone .dz-preview .dz-success-mark svg,
.dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}
.dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
.dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  -moz-animation: pulse 6s ease infinite;
  -ms-animation: pulse 6s ease infinite;
  -o-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}
.dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}
.dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
.dropzone .dz-preview.dz-error .dz-error-message {
  display: block;
}
.dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}
.dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white;
}
.dropzone .dz-preview .dz-error-message:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626;
}
