<template>
    <style>
        .animated {
            visibility: hidden;
        }
    </style>
    <div style="position:fixed;top:0px;left:0px;width:0;height:0;" id="scrollzipPoint"></div>
    <div class="main homepage">

        <section class="title-top_section">
            <div class="container">
                <h1 class="title_page extra_bold">Der Rentenversteher</h1>
                <h2 class="subtitle_section extra_bold">Schluss mit Vorsorgechinesisch</h2>
            </div>
        </section>

        <section class="download_section section_bg">
            <div class="container">
                <h2 class="subtitle_section main_subtitle">Lade deinen Vorsorgeausweis hoch und wir erkären dir verständlich wie deine Rente aussehen wird</h2>
                <div class="upload_bg scroll_top">
                    <a href="Datei auswählen.txt" class="upload_file" target="_blank" download="">
                        <img src="src/assets/img/upload.png">
                    </a>
                </div>
                <h2 class="subtitle_section gold extra_bold">
                    JETZT ANONYM HOCHLADEN

                    <!-- popup -->
                    <div class="modal-toggle">
                        <div class="wrapper ">
                            <span class="tool_ico custom_tooltip">i</span>
                        </div>

                        <div class="modal">
                            <div class="modal-overlay"></div>
                            <div class="modal-wrapper modal-transition">
                                <div class="modal-header">
                                    <span class="modal-close modal-toggle"><span class="icon_close"></span></span>
                                    <h2 class="modal-heading">Vollständigkeit deiner Beiträge</h2>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Wenn du beispielsweise deinen Job wechselst, liegt es in deiner Pflicht der Pensionskasse deinen neuen Arbeitgeber und deine neue Pensionskasse mitzuteilen, damit dein bestehendes Altersguthaben übertragen werden kann. Falls du dir nicht sicher bist, ob deine Pensionskassengelder vollständig übertragen worden sind, kannst du bei der Zentralstelle 2. Säule eine Recherche in Auftrag geben.
                                    </p>
                                    <a href="" class="blue extra_bold">Zentralstelle 2. Säule Website</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </h2>
                <p class="txt gold text-center">
                    Wir speichern deinen Vorsorgeausweis nicht und übernehmen nur die anonymisierten Daten für die Auswertung.
                </p>
            </div>
        </section>

        <section class="clients_section">
            <div class="clients_container">
                <h2 class="subtitle_section">Der Rentenversteher funktioniert mit den Ausweisen dieser Anbieter</h2>
                <div class="client_logos">
                    <div class="client_item">
                        <img class="img-fluid" alt="" src="src/assets/img/helsana.png" alt="">
                    </div>
                    <div class="client_item">
                        <img class="img-fluid" alt="" src="src/assets/img/swiss-life.png" alt="">
                    </div>
                    <div class="client_item">
                        <img class="img-fluid" alt="" src="src/assets/img/swiss-re.png" alt="">
                    </div>
                    <div class="client_item">
                        <img class="img-fluid" alt="" src="src/assets/img/winterthur.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <footer class="main_footer section_bg">
            <div class="custom-container">
                <ul class="foot_list list-unstyled">
                    <li>
                        <a href="">Swiss Life Lab 2018</a>
                    </li>
                    <li>
                        <a href="">
                            <img class="img-fluid" alt="" src="src/assets/img/heart.png" alt="">
                            Rentenversteher weiterempfehlen
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

    <svg style="display:none">
        <symbol xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 18">
            <defs>
                <path id="upload-arrow" d="M765 291v2h16v-2h-16zm12-6h-3v-10h-2v10h-3l4 4 4-4z" />
            </defs>
        </symbol>
    </svg>

    <form id="uploadForm">
        <input id="uploadFile" type="file" name="uploadFile" style="opacity: 0;display: none;" files.bind="files">
    </form>
</template>