<template>
    <div if.bind="!animated">
        ${formattedValue}
        <span class="day"> Fr.
            <span style="padding-left: 5px;" show.bind="isMonth"> / Monat</span>
        </span>
    </div>
    <div id.bind="elmId"></div>
</template>